<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<body>
    <div layout:fragment="content">
        <h1>Add provider</h1>
        <form action="#"
              th:action="@{/price/api/provider/admin/add}"
              th:object="${provider}"
              method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td>
                        <input type="text" th:field="*{name}" />
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error message</span>
                    </td>
                </tr>
                <tr>
                    <td>Target name:</td>
                    <td>
                        <input type="text" th:field="*{targetName}" /><br />
                        <span th:if="${#fields.hasErrors('targetName')}" th:errors="*{targetName}">Target name error message</span>
                    </td>
                </tr>
                <tr>
                    <td>Colour:</td>
                    <td>
                        <input type="text" th:field="*{colour}" /><br />
                        <span th:if="${#fields.hasErrors('colour')}" th:errors="*{colour}">Colour error message</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>